@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-image: url(https://www.poultryworld.net/app/uploads/2021/04/001_831_IMG_HSK190297_02.jpg); background-size: cover ; height: 100vh">
    <h1 class="display-4 text-light">Welcome To Poultry Farm</h1>



    @*  <img src="https://www.poultryworld.net/app/uploads/2021/04/001_831_IMG_HSK190297_02.jpg"alt=" "/>*@
</div>